<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title@gossip Project by lyon's team - Baptiste, léo & Lionel</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/full-width-pics.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->

  <!-- Header - set the background image for the header in the line below -->
  <header class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1076');">
    <img class="img-fluid d-block mx-auto" src="http://www.lioforest.com/images/logo_potin.jpg" alt="">
  </header>

  <!-- Content section -->
  <section class="py-5">


    <div class="container">
      <h1>Editer le Potin n°: <%= @gossip.id %> </h1>
<br><br>
    <%= form_for @gossip do |f| %>


       <div class ="form_group">

        <label> Titre du gossip </label>

        <%= f.text_field :title, class: 'form-control' %>
        
        </div>

       <div class ="form_group">

        <label> Le texte du Gossip :  </label>

        <%= f.text_area :content, class: 'form-control' %>
        </div>

        <br><br>
       <div class ="form_group">


        <button type="submit" class="btn btn-primary">Valider la modification du gossip </button>
        </div>

        

      <% end%>
    </div>
  </section>


  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Lioforest/thp 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>